    $main-color:#000;
    $font-family:'intial';
    $bg-fontSize:20px;
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
        padding: 0;
        margin: 0;
    }
    
    body {
        background-image: url('https://img.technews.tw/wp-content/uploads/2020/03/12115730/visual_bg_pc.jpg');
        /* background */
        background-attachment: fixed;
        color: #fff;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .container {
        width: 1200px;
        margin: auto;
        z-index: -999;
        background-size: cover;
        background: rgba(0, 0, 0, .5);
    }
    
    img {
        display: inline-block;
        vertical-align: top;
    }
    
    .row {
        display: flex;
        flex: 1;
        flex-flow: row wrap;
    }
    
    .grid-4 {
        width: calc(33.33% - 60px);
        color: black;
        margin: 30px;
        .preview {
            width: 100%;
            height: 0;
            padding-bottom: 56%;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
    }
    
    .live {
        background-color: rgba(#fff, 0.5);
        display: flex;
        &__logo {
            flex: 2px;
            img {
                width: 100%;
                height: 86px;
                border-radius: 50%;
                margin: 10px;
            }
        }
        &__desc {
            flex: 3;
            >* {
                margin: 20px;
            }
        }
    }